.btn-nav {
  border-radius: 29px;
  background: linear-gradient(90deg, #dc2424 0%, #4a569d 100%);
  display: flex;
  padding: 6px 30px;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 10px;
}

.logo-slider {
  display: flex;
  overflow: hidden;
  background-color: rgba(240, 240, 240, 1);
}

.logo-slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
}

.logo-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 20%;
  height: 150px;
}

.logo-slide img {
  max-height: 100px;
  max-width: 100%;
  object-fit: contain;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-20% * 5));
  }
}

.logo-slide:nth-child(6) {
  order: 1;
}
.logo-slide:nth-child(7) {
  order: 2;
}
.logo-slide:nth-child(8) {
  order: 3;
}
.logo-slide:nth-child(9) {
  order: 4;
}
.logo-slide:nth-child(10) {
  order: 5;
}

.logo-slider:hover .logo-slide-track {
  animation-play-state: paused;
}

.wave-shape {
  background: url("assets/img/footer-img.png") no-repeat top;
  background-size: cover;
}

.row {
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.social-media-icons {
  display: flex;
  flex-direction: row;
  font-size: 24px;
  gap: 1em;
  color: #fff;
}

.footer-text {
  color: #fff;
}

.footer-section {
  padding-top: 7em;
}

.footer-title {
  color: #fff;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 10px;
  color: white;
}

.newsletter-subscription {
  max-width: 300px;
}

.btn-newsletter {
  color: #fff;
  background-color: #f00;
}

.btn-newsletter:hover {
  color: #fff;
  background-color: #c00;
}
.footer-logo {
  width: 10em;
  padding-bottom: 1.4em;
}

.footer-logo-1 {
  padding-top: 2em;
  width: 10em;
}

@media (max-width: 768px) {
  .logo-slide img {
    padding: 6px;
  }

  .wave-shape {
    background: url("assets/img/footer-img.png") no-repeat top;
    background-size: cover;
    padding-top: 16em;
  }

  .contact-info {
    display: flex;
    flex-direction: column;
    color: black;
    gap: 10px;
    border-radius: 8px;
  }

  .footer-text {
    color: white;
  }

  .footer-section {
    padding: 10px 0;
  }

  .footer-title {
    color: #fff;
    margin-bottom: 20px;
    font-size: 1em;
  }

  .footer-item {
    margin-bottom: 10px;
    color: white;
  }

  .social-media-icons {
    font-size: 24px;
    color: #fff;
  }

  .newsletter-subscription {
    max-width: 300px;
    margin-right: 6em;
  }

  .btn-newsletter {
    color: #fff;
    background-color: #f00;
  }

  .btn-newsletter:hover {
    color: #fff;
    background-color: #c00;
  }
}
